/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}

#appLayout {
    width:  100%;
    height: 95%;
    overflow: auto;
}
#leftCol {
    width: 14em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#borderContainer {
    width: 100%;
    height: 100%;
}    
